body {
  background: #371212 url(./background.gif) top repeat-x;
  font-family: Arial, Helvetica;
  color: #F7F5D9;
  text-align: center;
  
} 

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 265px;

  }

#Jen {
  text-shadow: 0 0 10px white;
}

